<a href="https://colab.research.google.com/github/Regis-Caelum/Machine-Learning/blob/main/Bitcoin_price_predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Description: This program predicts the price of Bitcoin for the next 30 days.

In [2]:
#import libraries
import pandas as pd
import numpy as np

In [4]:
#Load data
from google.colab import files
uploaded = files.upload()

Saving bitcoin_price_Training - Training.csv to bitcoin_price_Training - Training.csv

In [10]:
#Store the data into a variable
df = pd.read_csv('bitcoin_price_Training - Training.csv')

#Show the first 7 rows of data
df.head(7)

           Date     Open     High  ...    Close         Volume      Market Cap
0  Jul 31, 2017  2763.24  2889.62  ...  2875.34    860,575,000  45,535,800,000
1  Jul 30, 2017  2724.39  2758.53  ...  2757.18    705,943,000  44,890,700,000
2  Jul 29, 2017  2807.02  2808.76  ...  2726.45    803,746,000  46,246,700,000
3  Jul 28, 2017  2679.73  2897.45  ...  2809.01  1,380,100,000  44,144,400,000
4  Jul 27, 2017  2538.71  2693.32  ...  2671.78    789,104,000  41,816,500,000
5  Jul 26, 2017  2577.77  2610.76  ...  2529.45    937,404,000  42,455,000,000
6  Jul 25, 2017  2757.50  2768.08  ...  2576.48  1,460,090,000  45,410,100,000

[7 rows x 7 columns]

In [11]:
#remove the date column
df.drop(['Date'],1,inplace=True)
df.drop(['High'],1,inplace=True)
df.drop(['Low'],1,inplace=True)
df.drop(['Volume'],1,inplace=True)
df.drop(['Market Cap'],1,inplace=True)

In [12]:
#Show the first 7 roes of new dataset
df.head(7)

      Open    Close
0  2763.24  2875.34
1  2724.39  2757.18
2  2807.02  2726.45
3  2679.73  2809.01
4  2538.71  2671.78
5  2577.77  2529.45
6  2757.50  2576.48

In [14]:
#A variable for prediction n days out into future
prediction_days = 30

#Create another column shifted 'n' units up
df['Prediction'] = df[['Close']].shift(-prediction_days)

In [15]:
#Show the first 7 rows of the new dataset
df.head(7)

      Open    Close  Prediction
0  2763.24  2875.34     2434.55
1  2724.39  2757.18     2480.84
2  2807.02  2726.45     2539.32
3  2679.73  2809.01     2574.79
4  2538.71  2671.78     2552.45
5  2577.77  2529.45     2478.45
6  2757.50  2576.48     2589.41

In [16]:
#Show the last 7 rows of the new dataset
df.tail(7)

        Open   Close  Prediction
1549   98.10  112.50         NaN
1550  106.25   97.75         NaN
1551  116.38  105.21         NaN
1552  139.00  116.99         NaN
1553  144.00  139.00         NaN
1554  134.44  144.54         NaN
1555  135.30  134.21         NaN

In [17]:
#Create the independent dataset

#Convert the dataframe to a numpy array and the dropp the prediction column
df.drop(['Open'],1,inplace=True)
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n'roes where 'n'is the prediction_days

X = X[:len(df)-prediction_days]

print(X)

[[2875.34]
 [2757.18]
 [2726.45]
 ...
 [ 128.8 ]
 [ 132.3 ]
 [ 129.  ]]

In [23]:
#Create the dependent dataset

#Convert the dataframe to a numpy array

y = np.array(df['Prediction'])

# Get all of the vaalues except the las 'n' rows
y = y[:-prediction_days]
print(y)

[2434.55 2480.84 2539.32 ...  139.    144.54  134.21]

In [24]:
#Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(X,y, test_size=0.2)

In [26]:
#Set the prediction_days_array = the last 30 rows from the original dataset
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[129.75]
 [133.48]
 [131.98]
 [133.2 ]
 [126.7 ]
 [123.89]
 [122.88]
 [122.  ]
 [121.99]
 [123.5 ]
 [123.02]
 [118.76]
 [114.22]
 [111.5 ]
 [117.98]
 [115.  ]
 [115.24]
 [117.2 ]
 [112.67]
 [113.57]
 [111.5 ]
 [112.3 ]
 [115.91]
 [112.5 ]
 [ 97.75]
 [105.21]
 [116.99]
 [139.  ]
 [144.54]
 [134.21]]

In [27]:
from sklearn.svm import SVR

#Create and train the Support Vector Machine (Regression) using radial basis function
svr_rbf = SVR(kernel='rbf',C=1e3,gamma=0.00001)
svr_rbf.fit(xtrain,ytrain)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [28]:
#test model
svr_rbf_confidence = svr_rbf.score(xtest, ytest)
print('accuracy: ', svr_rbf_confidence)

accuracy:  0.8394141753228669

In [29]:
#print the predicted values
svm_prediction = svr_rbf.predict(xtest)
print(svm_prediction)

print()

#print the actual values
print(ytest)

[ 617.46297029  926.25290486  654.50279093  104.35742505  452.18648255
  604.14296225  242.48669855 2420.44328741  376.79535956  401.94800811
  615.82839474  424.40959399  247.67308462  615.37580811  224.13068409
   99.51279215  490.83793716  330.38607768  109.27097466  714.0171906
  600.33318815  288.12110724  353.38799917  231.40975641  221.21583449
  673.97239275  447.0200525   114.28987006  369.40859852  124.54163525
  107.00661598  938.98599154  283.98373068  105.78511934  460.84160236
  481.34531     461.67173899  179.6336779   227.15173769  909.89288806
  260.34681326  258.86402692  192.57874143  585.3564041   621.61062641
  748.50970466  415.36752127  229.71651077 1180.57893465  356.70257648
  131.38188444  572.01465252  777.34363223  119.27833766  409.3585383
  213.45019519  241.61828601  728.50129353  595.2307164   254.88526532
 2298.44653663  953.57263668  358.41931165  593.90342176  937.8409479
  112.11825     468.10539015  764.9929205   371.19114391  241.65869226
  642.28416537  601.62008493 1707.77595749  441.40743081  413.6112139
  125.88792445  423.79525228  595.4404387   284.79150225  752.45632909
 1205.08934087  417.48860589  487.33186222  581.60503945  433.23376945
  618.02158456  511.70750288 2389.52323839  685.06800451 2220.63876279
  688.98708272  650.2385942   341.75283949  607.91215314  118.54088921
  466.81397683  861.1092889   365.34258501  562.87447638  356.31112062
  457.48007253  595.72135651  274.00637307  103.18089682  880.67009561
  107.96256228  107.84128956  231.81740602  304.9877556   739.85081269
  696.24329002  109.2977739   383.60889547  433.23376945  268.94645951
  593.28199508  581.54888191  126.12114965  331.0275654   125.28485241
  358.50420669  504.91542708  276.15771388  371.61315125 1003.70988691
  962.72085838 1211.88725326  453.10234211  106.52410077  217.98628101
  607.9479009   660.67499113  398.08143739  224.63297075  642.18706562
 2417.08499232  432.25425677 2406.64143223  681.78690384 1140.27720271
  641.67989385  264.10174182 1029.32875379  800.19015611 1010.53440421
  108.63114403  579.4437223   596.24845301  414.35884912  574.26759364
  371.59150355  622.84401652  623.27145029  584.74625124  224.52022902
  616.99512164  353.31430072  422.97629627  411.63046189  230.61443469
  106.47699824  270.25207505  213.20245741  324.07105572  269.49056798
  126.05888744  578.9396939   609.83105567  593.62389939  601.67808833
  584.66746551  485.99876096  582.95638634  238.37091039 1112.27114034
  596.98603276  683.14412828  108.66247499  129.68548189  380.62172423
  571.9805751   628.30135698  343.84551034  505.10941558  852.03293177
  583.89474238  125.98113002  961.84436983  330.95626173  218.953799
  602.99604719  683.47735969  354.53667524  354.19923742  435.03324732
  309.11835351  319.97163579  442.62418544  420.53209301  224.72520685
 2149.28215543  578.91411045  915.63444259  597.99010113  389.87222775
  664.13804863  170.11103074  109.91647128  723.07035756 2415.25607221
  387.94506637  426.01415585  583.9618911   106.35042874  255.68398976
  574.79379584  583.65633107  623.8270082   699.76277049 1549.81632527
  649.60188608  319.50951028  580.22379334  690.92690195  520.98216184
  279.75672753  318.61605927  577.46515792  273.12759892  109.56732621
  243.65697889 1581.02462501  223.39228927  655.03158996 1026.20324485
  591.94981078  385.1509031   248.93839672  431.5708772   347.62281256
  572.95108544  992.1816571   460.4936203   972.63845815  253.30628779
  372.65303831  128.02786173 1148.32414043  120.73337292  426.2531828
  589.91648884  165.2003965   663.18391697 1664.68085704  494.4819744
  688.99487003  277.83437101  616.79393359 1000.99787457  110.81500161
  408.62459738  643.6339084   515.1434139   103.24792197  589.65611919
  230.79801782  881.30920073  593.98715189  236.39359927 1094.71742958
  525.97064922  403.58841354  243.17287325  288.67281636  423.89763539
  631.7679095   226.4559872   328.75935394  623.40387293  708.83138427
  910.20784772  284.96881498  605.12262596  100.14124445  449.2880627
  220.08524151  370.48837392  191.84456227  442.7037684   275.59535576
  993.78578756  442.41953315  572.12363018  587.27902612  600.68378826
  375.69490682  223.58718255  460.90893872  417.25029789 1185.51105557
 1031.47430154  459.10042196  132.62136584  231.96004997  112.11233721
  742.30712558]

[ 647.    911.2   193.76  108.15  515.59  651.72  319.01 2539.32  244.94
  455.65  629.37  358.04  281.7   660.62  211.08  122.22  592.58  482.28
  133.48  795.87  602.27  232.76  435.79  219.16  315.03  657.07  322.02
   98.4   447.61  122.11  123.02  921.79  257.06  103.95  330.75  444.69
  423.73  128.22  231.4   908.59  285.83  376.85  311.4   524.58  694.47
  872.6   373.45  267.96 1187.87  479.36  104.    845.59  360.33   94.12
  416.32  247.03  238.87 1151.17  598.21  226.43 1787.13 1274.99  411.56
  575.47  215.05   94.69  417.94 1045.11  342.42  237.47  640.38  445.98
 2958.11  387.49  437.16  116.99  357.38  606.59  346.37  673.41 2518.56
  435.12  505.97  624.82  420.62  449.46  595.81 2689.1   453.78 2515.35
  727.83  641.07  411.57  605.24   89.39  549.26 1166.72  357.62  574.16
  238.73  311.08  610.44  249.28  107.4   777.94  129.     94.99  253.18
  229.98  790.83  702.03   80.53  398.82  362.49  222.27  575.04  631.46
  105.21  247.05  120.06  361.56  565.04  234.53  345.31  973.82 1063.07
 2464.58  527.39  101.7   290.59  608.24  689.65  507.81  281.88  609.74
 2320.42  417.01 1578.8   928.1  1124.78  613.98  231.21  966.73  800.88
 1054.23  131.98  635.81  572.3   376.62  624.68  504.25  737.23  581.64
  525.14  232.08  665.12  423.2   421.69  240.38  285.34   99.99  217.46
  267.8   357.84  249.01  109.99  624.09  533.86  570.47  654.97  597.26
  594.92  650.96  226.9  1143.81  447.64  442.68   86.76  122.62  457.33
  655.05  536.92  336.19  614.83  745.69  624.51  118.5   924.67  251.99
  294.43  870.96  711.52  477.59  361.19  394.97  375.01  359.51  449.42
  417.13  276.05 2478.45  174.61  886.62  771.44  422.82  443.19  128.38
   68.43  745.05 2443.64  479.    432.52  666.52  104.    269.23  670.63
  448.9   436.4   744.2  2589.6   605.69  237.29  630.69  703.24  622.21
  234.34  276.5   571.59  266.21   77.53  237.1  1421.6   257.98  618.99
 1011.8   703.7   383.76  233.51  395.54  358.42  566.36 1240.    428.59
 1267.12  222.93  335.59  113.5  1182.68   96.02  485.25  615.33  129.65
  714.48 1207.21  498.17 1043.33  352.22  438.82 1004.55   76.52  517.24
  455.67  621.59  109.5   520.22  214.86  823.98  626.27  243.68 1102.17
  621.55  511.15  238.74  219.84  380.15  868.48  247.27  263.44  825.37
  338.11 1115.3   257.32  641.61  121.42  424.23  239.02  430.01  134.78
  420.95  369.6  1187.81  326.93  672.86  578.29  594.99  325.75  281.23
  320.05  433.5  1187.13 1042.9   466.09  133.49  273.47   98.5   739.25]

In [31]:
#Print the model predictions for the next 30 days
svm_prediction = svr_rbf.predict(prediction_days_array)

print(svm_prediction)

print()

#Print the actual price
print(df.tail(prediction_days))

[126.47230308 129.44215435 128.23535238 129.21563576 124.12359561
 122.02682451 121.28952249 120.65434762 120.64716879 121.74108154
 121.39119643 118.37535555 115.34686232 113.62952051 117.84107135
 115.8529996  116.0099378  117.31249789 114.35905321 114.92968814
 113.62952051 114.12683501 116.45103041 114.25218557 106.17379981
 109.95493813 117.17117405 134.01979304 138.81290857 130.03537901]

       Close  Prediction
1526  129.75         NaN
1527  133.48         NaN
1528  131.98         NaN
1529  133.20         NaN
1530  126.70         NaN
1531  123.89         NaN
1532  122.88         NaN
1533  122.00         NaN
1534  121.99         NaN
1535  123.50         NaN
1536  123.02         NaN
1537  118.76         NaN
1538  114.22         NaN
1539  111.50         NaN
1540  117.98         NaN
1541  115.00         NaN
1542  115.24         NaN
1543  117.20         NaN
1544  112.67         NaN
1545  113.57         NaN
1546  111.50         NaN
1547  112.30         NaN
1548  115.91         NaN
1549  112.50         NaN
1550   97.75         NaN
1551  105.21         NaN
1552  116.99         NaN
1553  139.00         NaN
1554  144.54         NaN
1555  134.21         NaN

In [32]:
#Load data testing
upload = files.upload()

Saving bitcoin_price_1week_Test - Test.csv to bitcoin_price_1week_Test - Test.csv

In [41]:
#Store the data into a variable
dfs = pd.read_csv('bitcoin_price_1week_Test - Test.csv')

#Show the first 7 rows of data
dfs.head(8)

           Date     Open     High  ...    Close         Volume      Market Cap
0  Aug 07, 2017  3212.78  3397.68  ...  3378.94  1,482,280,000  52,987,300,000
1  Aug 06, 2017  3257.61  3293.29  ...  3213.94  1,105,030,000  53,720,900,000
2  Aug 05, 2017  2897.63  3290.01  ...  3252.91  1,945,700,000  47,778,200,000
3  Aug 04, 2017  2806.93  2899.33  ...  2895.89  1,002,120,000  46,276,200,000
4  Aug 03, 2017  2709.56  2813.31  ...  2804.73    804,797,000  44,666,400,000
5  Aug 02, 2017  2727.13  2762.53  ...  2710.67  1,094,950,000  44,950,800,000
6  Aug 01, 2017  2871.30  2921.35  ...  2718.26  1,324,670,000  47,321,800,000

[7 rows x 7 columns]

In [42]:
#remove the date column
dfs.drop(['Date'],1,inplace=True)
dfs.drop(['High'],1,inplace=True)
dfs.drop(['Low'],1,inplace=True)
dfs.drop(['Volume'],1,inplace=True)
dfs.drop(['Market Cap'],1,inplace=True)
dfs.drop(['Open'],1,inplace=True)
print(dfs.head(7))

     Close
0  3378.94
1  3213.94
2  3252.91
3  2895.89
4  2804.73
5  2710.67
6  2718.26

In [52]:
prediction_days_array = np.array(dfs['Close'])[:]
prediction_days_array = np.reshape(prediction_days_array, (7,1))
#Print the model predictions for the next 30 days
svm_prediction = svr_rbf.predict(prediction_days_array)

print(svm_prediction)

print()

#Print the actual price
print(dfs.head(7))

[1022.62211842 1038.12188657 1013.42150251 2065.07293436 2341.02624295
 2418.80350075 2420.264639  ]

     Close
0  3378.94
1  3213.94
2  3252.91
3  2895.89
4  2804.73
5  2710.67
6  2718.26